apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

bases:
  - ../../base

namePrefix: staging-
nameSuffix: ""

replicas:
  - name: app
    count: 2

patchesStrategicMerge:
  - deployment-patch.yaml
  - configmap-patch.yaml
  - ingress-patch.yaml

configMapGenerator:
  - name: app-config
    behavior: merge
    literals:
      - ENVIRONMENT=staging
      - LOG_LEVEL=info

images:
  - name: ghcr.io/OWNER/REPO
    newName: ghcr.io/OWNER/REPO
    newTag: staging

commonLabels:
  environment: staging
  tier: staging
